* {
    margin: 0;
    padding: 0;
}
.image {
    height: 600px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
    }

.content {
    min-height: 600px;
    width:100%;
    background: white;
    z-index: 2;
}
.content h1 {
    font-size: 45px;
    color: #929292;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 30px 60px;
}
.content p {
    font-size: 25px;
    color: #929292;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}
.content li {
    font-size: 25px;
    color: #929292;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 100px;
}
#wall_1 {
    background: url(../Images/circuts.png) repeat;
    background-attachment: fixed;
}
#wall_2 {
    background: url(../Images/twinkle_twinkle.png) repeat;
    background-attachment: fixed;
}
#wall_3 {
    background: url(../Images/footer_lodyas.png) repeat;
    background-attachment: fixed;
}
#wall_4 {
    background: url(../Images/congruent_outline.png) repeat;
    background-attachment: fixed;
}
#wall_5 {
    background: url(../Images/office.png) repeat;
    background-attachment: fixed;
}
#content_1 {position: relative;}

#slide_1{
  font-size: 40px;
  color: rgb(214, 214, 214);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-top: 150px;
  margin: auto;
  text-align: center;
}
#bg_slide{
  background: none;
  padding-top: 30px;
}
